.Tilt {
    height: 150px;
    width: 150px;
    background: rgb(8,199,167);
    background: linear-gradient(90deg, rgba(8,199,167,1) 0%, rgba(1,165,198,1) 100%);
}

/*
this is the css styling for the tilting object with our logo
set the size for the tile
background color is just going to match the whole page background, it keeps the same color scheme and breaks up the solid feel
*/