body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;

  
  background: rgb(18,65,67);
  background: linear-gradient(90deg, rgba(18,65,67,1) 0%, rgba(65,125,96,1) 36%, rgba(192,247,183,1) 100%); 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}